body {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    background-color: lightgrey;
}

#dragonPic img{
    height: 400px;
    width: 400px;
}

#instructions {
    margin: 20px;
    font-size: 20px;
}

.dicePics {
    margin: 30px;
}

.dice {
    display: inline-block;
}

.actionButton {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
}